.container-header {
  max-width: 100vw;
}

.footer img {
  width: 100vw;
}

.container-header img {
  width: 100vw;
}

.lett-header {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 80%;
  margin-top: 10%;
  top: 0;
  fill: transparent;
  animation: lett-preenchimento 0.5s ease-in-out forwards 3s;
}

.lett-header path {
  stroke-width: 2px;
  stroke: #be253f;
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
  animation: lett-tracado 5s ease-in-out forwards 1s;
}

.info {
  background-color: white;
  border-radius: 10px;
  width: 50%;
  padding: 20px;
  margin: 20px;
}

.info img {
  width: 30%;
  margin-left: 35%;
}

.sobre {
  width: 80%;
  margin: auto;
  display: flex;
}


@keyframes lett-preenchimento {
  to {
    fill: #be253f;
  }
}

@keyframes lett-tracado {
  to {
    stroke-dashoffset: 0;
  }
}

body {
  margin: 0;
  background-color: #ffead4;
  overflow-x: hidden;
}

h1,
h2 {
  font-family: "Pacifico", cursive;
  color: #be253f;
  text-align: center;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.5em;
}

p {
  font-family: "Lato", sans-serif;
  color: #484848;
  font-size: 1em;
}
